<% if notice %>
  <div class="alert alert-info alert-dismissible fade show m-1" data-controller="notice" role="alert">
    <%= notice.html_safe %>
    <i class="fa-solid fa-xmark" data-action="click->notice#close" ></i>
  </div>
<% end %>
<% if alert %>
  <div class="alert alert-warning alert-dismissible fade show m-1" role="alert">
    <%= alert %>
    <i class="fa-solid fa-xmark" data-action="click->notice#close" ></i>
  </div>
<% end %>
