<nav class="nav">



  <%= link_to root_path, class: "logo" do %>
    <span class="logo-letter extrabold">N</span>
    <span class="logo-letter bold">A</span>
    <span class="logo-letter semibold">P</span>
    <span class="logo-letter medium">O</span>
    <span class="logo-letter regular">L</span>
    <span class="logo-letter light">É</span>
    <span class="logo-letter extralight">O</span>
    <span class="logo-letter thin">N</span>
  <% end %>

  <div class="menu-btn" data-action="click->nav#displayMenu">

    <p class="menu-text">Menu</p>

    <div class="menu-hamburger">
      <span class="line top-line"></span>
      <span class="line middle-line"></span>
      <span class="line bottom-line"></span>
    </div>

  </div>

</nav>

<div class="menu" data-nav-target="menu" data-action="mouseover->nav#dontHideMenu">
  <% if user_signed_in? %>
    <%= link_to "Déconnexion", destroy_user_session_path, method: :delete %>
  <% else %>
    <%= link_to "Connexion", new_user_session_path %>
  <% end %>
  <%= link_to "fav", favorites_path %>
</div>
