<% unless locations.nil? %>
  <% locations.first(8).each do |location| %>
    <%= link_to request.params.merge(locations: params[:locations].present? ? params[:locations] + ",#{location.insee_code}" : location.insee_code),
        class: "location-result",
        data: { action: 'click->locations#add_location', type: "#{location.class.name.downcase}", 'location-id': location.id} do %>
      <p class="location-name"><%= location.name %></p>
      <p class="location-type">
        <%= humanize_location(location) %>
      </p>
    <% end %>
  <% end %>
<% end %>
