.apartment-cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100%;
  width: 58vw;
  gap: 2vh;
  .apartment-card {
    height: 24vw;
    width: 29vw;
    text-decoration: none;
    .apartment-image {
      width: 100%;
      height: 65%;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      border-radius: 4px;
    }
    p {
      margin: 0;
      color: rgba(0, 0, 0, 0.806);
    }
    .apartment-content {
      display: flex;
      flex-direction: column;
      .apartment-infos {
        font-size: 1.2rem;
        font-weight: bold;
      }
      .apartment-location {
        font-size: 1rem;
      }
      .apartment-price {
        font-size: 1.2em;
        font-weight: bold;
        color: #2487A4;
      }
    }
  }
}
