.contain {
  display: flex;
  width: 96vw;
  margin: 20px auto;
  gap: 2vh;
  .form-div {
    width: 40%;
    position: relative;
    .filter-form {
      width: 100%;
      display: flex;
      flex-direction: column;
      position: sticky;
      top: 2vh;
    }
  }
  .apartments {
    width: 60%;
    .apartment-infos {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      margin-bottom: 2vh;
      .what-where {
        margin: 0;
        font-weight: bold;
        color: rgba(0, 0, 0, 0.850);
      }
      .sort-title {
        margin-bottom: 4px;
      }
    }
  }
}

.div-filter {
  margin-bottom: 1rem;
}

.criterias-filter, .project-filter {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5vh;
  .preview {
    margin: 0;
    width: 40px;
    height: 20px;
  }
}

.bedroom-filter, .room-filter {
  width: 300px;
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 20px;
  .filling-div {
    position: relative;
    .filling {
      margin: 0;
      background-color: #D7EBEF;
      width: 41px;
      height: 36px;
      opacity: 0;
      transition: opacity 0.3s;
      position: absolute;
      top: 0;
      left: 16px;
      z-index: -1;
      &.studio {
        width: 85px;
      }
      &.active {
        opacity: 1;
      }
    }
  }
}
