.contain {
  display: flex;
  width: 96vw;
  margin: 20px auto;
  gap: 2vh;
  .filter-form {
    display: flex;
    flex-direction: column;
    width: 40%;
  }
  .apartments {
    width: 60%;
    .apartment-infos {
      display: flex;
      justify-content: space-between;
      margin-bottom: 2vh;
    }
  }
}

.div-filter {
  margin-bottom: 1rem;
}

.criterias-filter {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  .preview {
    margin: 0;
    width: 40px;
    height: 20px;
  }
}
