input[type=checkbox], input[type=radio]{
  display: none;
}

.tag {
  padding: 2px 4px;
  border-radius: 2px;
  &:hover {
    cursor: pointer;
  }
}
.search-input {
  width: 400px;
  padding: 0.5rem;
  border-radius: 2px;
  border: 1px solid #ccc;
  &:focus {
    outline: none;
  }
}
.filter+.tag {
    border: 1px solid rgba(0, 0, 0, 0.681);
}

.filter:checked+.tag {
    border: 1px solid #03819E;
    background-color: #03819E;
    color: #fff;
}
