input[type=checkbox], input[type=radio]{
  display: none;
}

.search-input {
  width: 100%;
  max-width: 500px;
  padding: 0.5rem;
  border-radius: 2px;
  border: 1px solid #ccc;
  margin-bottom: 1rem;
  &:focus {
    outline: none;
  }
}

.input {
  display: flex;
}

input {
  &:focus-visible {
    outline: none;
  }
}

.bed-tag {
  border-radius: 50%;
  border: 1px solid #b5e6ee;
  font-size: 0.9rem;
  height: 36px;
  width: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.1s;
  color: $blue;
  animation: name duration timing-function;
  cursor: pointer;
  &:hover {
    color: $blue;
  }
  &.active {
    background-color: $light-blue;
    border: 1px solid $light-blue;
  }
  &.studio {
    width: 80px;
    border-radius: 20px;
  }
}

.criteria {
  margin: 0;
  padding: 4px 8px;
  border-radius: 4px;
  border: 0.5px solid $blue;
  color: $blue;
  font-size: 0.9rem;
  &:hover {
    color: $blue;
  }
  &.active {
    background-color: $light-blue;
    color: $blue;
  }
}

.filter-title {
  margin-bottom: 8px;
}
