input[type=checkbox], input[type=radio]{
  display: none;
}

.tag {
  padding: 2px 4px;
  border-radius: 2px;
  &:hover {
    cursor: pointer;
  }
}
.search-input {
  width: 100%;
  max-width: 500px;
  padding: 0.5rem;
  border-radius: 2px;
  border: 1px solid #ccc;
  margin-bottom: 1rem;
  &:focus {
    outline: none;
  }
}
.filter+.tag {
    border: 1px solid rgba(0, 0, 0, 0.681);
    margin: .2rem;
}

.filter:checked+.tag {
    border: 1px solid #2586A4;
    background-color: #2586A4;
    color: #fff;
}
.input {
  display: flex;
}
