.nav {
  position: sticky;
  top: 0;
  height: 9vh;
  width: 100vw;
  padding: 0 2vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  border-bottom: 1px solid $light-blue;
  background-color: $bg-blue;
  z-index: 2;

  .logo {
    display: flex;
    gap: 0.2rem;
    .logo-letter {
      transition: font-weight 0.4s;
      font-size: 1.5rem;
      color: $blue;
      font-family: 'Noto Sans', sans-serif;

      &.thin {
        font-weight: 100;
      }
      &.extralight {
        font-weight: 200;
      }
      &.light {
        font-weight: 300;
      }
      &.regular {
        font-weight: 400;
      }
      &.medium {
        font-weight: 400;
      }
      &.semibold {
        font-weight: 600;
      }
      &.bold {
        font-weight: 700;
      }
      &.extrabold {
        font-weight: 800;
      }
    }
    &:hover {
      .thin {
        font-weight: 800;
      }

      .extralight {
        font-weight: 700;
      }

      .light {
        font-weight: 600;
      }

      .regular {
        font-weight: 400;
      }

      .medium {
        font-weight: 400;
      }

      .semibold {
        font-weight: 300;
      }

      .bold {
        font-weight: 200;
      }

      .extrabold {
        font-weight: 100;
      }
    }
  }

  .menu-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.7rem;
    transition: 0.2s;
    color: $blue;
    cursor: pointer;

    .menu-hamburger {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      gap: 0.3rem;
      width: 20px;
      .line {
        width: 20px;
        height: 2px;
        border-radius: 1px;
        background-color: $blue;
      }
    }

    .menu-text {
      margin: 0;
      font-size: 1rem;
    }

    &:hover {
      .menu-hamburger {
        .top-line {
          animation: line-moove 1.1s ease-in-out infinite;
        }
        .middle-line {
          animation: line-moove 1.1s ease-in-out infinite;
          animation-delay: 0.2s;
        }
        .bottom-line {
          animation: line-moove 1.1s ease-in-out infinite;
          animation-delay: 0.4s;
        }
      }
    }
  }
}

@keyframes line-moove {
  0% {
    width: 20px;
  }
  50% {
    width: 10px;
  }
  100% {
    width: 20px;
  }
}
