.pagination {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
  padding-bottom: 1rem;
  .pagination-content {
    p {
      margin: 0;
    }
  }
  .pagination-navigation {
    display: flex;
    align-items: center;
    gap: .6rem;
    .pagination-btn {
      width: 34px;
      height: 34px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      transition: 0.2s;
      color: #ccc;
      &.active {
        color: #2487A4;
        &:hover {
          background-color: #D9EAEF;
        }
      }
    }
    .pagination-numbers {
      display: flex;
      gap: 2px;
      .pagination-number {
        color: #2487A4;
        height: 30px;
        width: 30px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 0.2s;
        &.active {
          font-weight: bold;
        }
        &:hover {
          background-color: #D9EAEF;
        }
      }
    }
  }
}
