.locations {
  display: flex;
  flex-direction: column;
  margin-bottom: 2vh;
  .location-input {
    width: 100%;
    border-radius: 4px;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    border: 0.5px solid #ccc;
    padding: 0.4rem;
    flex-wrap: wrap;
    .location-tags {
      display: flex;
      gap: 0.5rem;
      margin: 0;
      .location-tag {
        width: fit-content;
        margin: 0;
        padding: 2px 6px;
        border-radius: 4px;
        color: #2388A4;
        background-color: $light-blue;
        font-size: 0.8rem;
        display: flex;
        align-items: center;
        gap: 0.5rem;
        .location {
          margin: 0;
          padding: 0;
          font-size: 0.8rem;
        }
        .cross {
          transition: 0.2s;
        }

        &:hover {
          cursor: pointer;
          .cross {
            transform: rotate(90deg);
          }
        }
      }
    }
    .input {
      height: 2rem;
      flex-grow: 2;
      padding: 0;
      outline: none;
      border: none;
      font-size: 0.9rem;
    }
  }
  .relative-div {
    position: relative;
    .location-results {
      width: 100%;
      z-index: 3;
      border-radius: 4px;
      box-shadow: 0 0 4px rgba(0, 0, 0, 0.301);
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 2px;
      background-color: white;
      .placehold {
        background-color: white;
        border-radius: 4px;
        padding: .6rem .5rem;
        p {
          color: rgb(162, 162, 162);
          font-style: italic;
          margin: 0;
          padding: 0;
        }
      }
      .saved-locations, .matching-locations {
        display: flex;
        flex-direction: column;
        .location-title {
          font-weight: bold;
          margin: 0;
          padding: 0.6rem 1rem 0.2rem;
        }
      }
      .matching-locations {
        padding-bottom: 0;
      }
      .location-result {
        padding: .6rem 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .location-logo-name {
          display: flex;
          align-items: center;
          gap: 12px;
          .location-name {
            margin: 0;
            color: rgba(0, 0, 0, 0.884);
          }
          .location-logo {
            color: #2388A4;
          }
        }
        .location-type {
          margin: 0;
          color: rgb(185, 185, 185);
        }
        &:hover {
          cursor: pointer;
          background-color: $light-blue;
        }
      }
    }
  }
}
