.location-results {
  width: 400px;
  border-radius: 4px;
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  max-height: 600px;
  overflow-y: auto;

  .location-result {
    padding: .6rem .5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .location-name {
      margin: 0;
    }
    .location-type {
      margin: 0;
      color: rgb(185, 185, 185);
    }
    &:hover {
      cursor: pointer;
      background-color: #D7EBEF;
    }
  }

}
