.sort-div {
  width: 200px;
  display: flex;
  flex-direction: column;
  gap: 2px;
  position: relative;
  .sort-input {
    cursor: pointer;
    width: 100%;
    height: 4.5vh;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.5rem;
    .sort-value {
      margin: 0;
    }
    .burger-menu {
      width: 15px;
      height: 13px;
      position: relative;
      .line {
        height: 16%;
        width: 100%;
        position: absolute;
        left: 0;
        border-radius: 2px;
        background-color: black;
        transition: 0.3s;
        &.top-line {
          animation: tobartop 0.4s forwards;
        }
        &.middle-line {
          top: 42%;
        }
        &.bottom-line {
          animation: tobarbottom 0.4s forwards;
        }
      }
      &.cross {
        .top-line {
          animation: tocrosstop 0.4s forwards;
        }
        .middle-line {
          opacity: 0;
        }
        .bottom-line {
          animation: tocrossbottom 0.4s forwards;
        }
      }
    }
  }
  .sort-tags {
    position: absolute;
    top: calc(4.5vh + 3px);
    width: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.301);
    animation: pop 0.3s forwards;
    &.hidden {
      z-index: -1;
      animation: hidde 0.3s forwards;
    }
    .sort-tag {
      width: 100%;
      padding: 8px;
      transition: background-color 0.1s;
      margin: 0;
      color: rgba(0, 0, 0, 0.9);
      text-decoration: none;
      display: flex;
      align-items: center;
      gap: 6px;
      &:hover {
        cursor: pointer;
        background-color: $light-blue;
      }
      &.first {
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        border: none;
      }
      &.last {
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
      }
      &.active {
        color: $blue;
      }
      .fa-circle-check {
        font-size: 0.9rem;
        color: $blue;
      }
      p {
        margin: 0;
      }
    }
  }
}

@keyframes pop {
  0% {
    opacity: 0;
    z-index: 3;
  }
  100% {
    opacity: 1;
    z-index: 3;
  }
}
@keyframes hidde {
  0% {
    opacity: 1;
    z-index: 3;
  }
  99% {
    opacity: 0;
    z-index: 3;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}

@keyframes tocrosstop {
  0% {
    transform: rotate(0deg);
    top: 0%;
  }
  50% {
    transform: rotate(0deg);
    top: 42%;
  }
  100% {
    transform: rotate(45deg);
    top: 42%;
  }
}

@keyframes tocrossbottom {
  0% {
    transform: rotate(0deg);
    bottom: 0%;
  }
  50% {
    transform: rotate(0deg);
    bottom: 42%;
  }
  100% {
    transform: rotate(-45deg);
    bottom: 42%;
  }
}

@keyframes tobartop {
  0% {
    transform: rotate(45deg);
    top: 42%;
  }
  50% {
    transform: rotate(0deg);
    top: 42%;
  }
  100% {
    transform: rotate(0deg);
    top: 0%;
  }
}

@keyframes tobarbottom {
  0% {
    transform: rotate(-45deg);
    bottom: 42%;
  }
  50% {
    transform: rotate(0deg);
    bottom: 42%;
  }
  100% {
    transform: rotate(0deg);
    bottom: 0%;
  }
}
